body{

	margin: 2%;
	background-image: url('https://psicowisdom.files.wordpress.com/2014/06/study.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;


	
}




